*{
    margin: 0;
    padding: 0;
}


.main-settings{
    background: #eff2f9;
    display: flex;
    width: 1300px;
    max-width: 100%;
    margin: auto;
} 


/*=====================
    Start header-icon 
======================*/


.left-icon{
    
    width: 100px;
    background: #eff2f9;
    text-align: center;
}
.iconbox{
    width: 50px;
    margin: auto;
    height: 100%;

}
.iconbox a img{
    width: 40px;
    padding: 46px 0 110px;
    cursor: pointer;
}

.iconbox a i{
    font-size: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}

.iconbox a i:hover{
    color: blue;
}
.iconbox a i:active{
    color: green;
}

.settings{
    background: #fff;
    padding: 65px 0 50px;
    border-radius: 50px;
}
.settings h6{
    padding: 0 0 25px 50px;
    font-size: 30px;
}
.account-info{
    width: 1100px;
    margin: auto;   
    border: 1px solid rgb(221, 211, 211);
    border-radius: 40px;
    display: flex;
}
.account-left{
    width: 260px;
    position: relative;
}
.account-left::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: rgb(221, 211, 211);
}

.account-left-top{
    display: flex;
    align-items: center;
    margin: 25px 0 0 40px;
}
.account-left-top .percent-info{
    padding-left: 20px;
}
.account-left-top .percent h2{
    width: 40px;
    color: rgb(4, 230, 4);
    padding: 15px 10px;
    border: 1px solid rgb(161, 148, 148);
    background: #fff;
    border-radius: 50%;
}


.account-left-top .percent h3{
    font-size: 20px;
    color: black;
}
.account-left-top .percent h4{
    font-size: 15px;
    color: rgb(47, 46, 40);
}



.list ol{
    margin-top: 45px;
    counter-reset: section;
    list-style: none;
    top: 20px;
    position: relative;
    z-index: 0;
}
/* .list ol li::after{
    position: absolute;
    content: '';
    top: 29px;
    left: 48px;
    width: 1px;
    height: 245px;
    background: black;
    z-index: 0;
} */



.list ol li::before{
    position: absolute;
    counter-increment: section;
    content: counters(section, ".");
    margin-top: 11px;
    margin-left: 45px;
    color: black;
    z-index: 3;
}

.list ol li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-transform: capitalize;
    display: block;
    padding: 10px 10px 10px 80px;
    border-left: 2px solid #fff;
    position: relative;
}
.list ol li a::before{
    position: absolute;
    content: '';
    top: 8px;
    left: 36px;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(161, 148, 148);
    border-radius: 50%;
    z-index: 5;
}




.list ol li a:hover{
    background: #edfbee;
    border-left: 2px solid green;
}
.account-left-bottom{
    background: #f6fdf6;
    width: 220px;
    text-align: center;
    margin-top: 120px;
    padding: 20px 20px;
    border-radius: 0 0 0 40px;
}
.account-left-bottom h5{
    text-align: center;
    font-size: 16px;
    width: 163px;
    margin: auto;
    padding: 10px 0;
}
.account-left-bottom button{
    text-align: center;
    padding: 10px 50px;
    font-size: 16px;
    text-transform: capitalize;
    border: 1px solid rgb(172, 152, 152);
    border-radius: 10px;
    cursor: pointer;
}
.account-left-bottom button:hover{
    background: rgb(4, 230, 4);
    color: #fff;
}
.account-right{
    padding: 35px 35px 0 35px;
}
.acount-body-top h2{
    font-size: 20px;
    padding: 5px 0;
}
.acount-body-top img{
    width: 775px;
}
.acount-body-text h2{
    font-size: 20px;
    padding: 30px 0 0;
}
.acount-body-text p{
    font-size: 16px;
    color: #86969e;
    padding: 5px 0;
}

.d-flex{
    display: flex;
}


.form{
    position: relative;
    margin-top: 10px;
}
.form-input{
    font-size: 16px;
    color: black;
    border: 1px solid #cabfff;
    background: none;
    padding: 30px 20px 10px;
    border-radius: 10px;
    width: 300px;
    margin-left: 10px;
}
.form-label{
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 16px; 
    color: dimgray;   
}
.form-input:focus + .form-label, .form-input:valid +.form-label{
    top:5px;
    left: 30px;
    font-size: 14px;
    color: dimgray;
    transition: .5s;
}






.account-right .next{
    margin-top: 150px;
    border-top: 1px solid rgb(172, 152, 152);
}
.account-right .next button{
    margin-top: 30px;
    color: #fff;
    text-align: center;
    padding: 10px 50px;
    font-size: 16px;
    text-transform: capitalize;
    border: 1px solid rgb(172, 152, 152);
    background: rgb(4, 230, 4);
    border-radius: 10px;
    cursor: pointer;
}
.account-right .next button:hover{
    background: #fff;
    color: black;
}











/*---------------------------------
    End header left-icon
-----------------------------------


/*=====================
    Start header 
======================*/


.header-info{
    display: flex;
    padding: 35px 0;
}
.header-left .logo-img a img{
    cursor: pointer;
    text-decoration: none;
}
.header-right{
    display: flex;
    align-items: center;
    margin-left: 510px;
}

.header-right-text{
    background: rgb(4, 230, 4);
    padding: 10px;
    display: flex;
    border-radius: 5px;
}
.header-right-text span{
    font-size: 20px;
    color: #fff;
    padding-right: 15px;
}
.header-right-text h3{
    font-size: 25px;
    color: #fff;
}
.header-right .mt h4{
    color: rgb(4, 230, 4);
    padding: 15px 10px;
    border: 1px solid rgb(161, 148, 148);
    background: #fff;
    border-radius: 50%;
    margin-left: 40px;
}
.header-right .mt h4:hover{
    background: rgb(4, 230, 4);
    color: #fff;
}





/*---------------------------------
    End header
-----------------------------------